
@font-face {
  font-family: "ARS Maquette";
  src: url("../resources/466deba3855c345af3e1371e28d783ae.eot"); /* IE9*/
  src: url("../resources/466deba3855c345af3e1371e28d783ae.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../resources/466deba3855c345af3e1371e28d783ae.woff2") format("woff2"), /* chrome、firefox */
  url("../resources/466deba3855c345af3e1371e28d783ae.woff") format("woff"), /* chrome、firefox */
  url("../resources/466deba3855c345af3e1371e28d783ae.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../resources/466deba3855c345af3e1371e28d783ae.svg#ARS Maquette Web One") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Shentox";
  src: url("../resources/5c773d1586db24bd45dfd4af3a4542e7.eot"); /* IE9*/
  src: url("../resources/5c773d1586db24bd45dfd4af3a4542e7.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../resources/5c773d1586db24bd45dfd4af3a4542e7.woff2") format("woff2"), /* chrome、firefox */
  url("../resources/5c773d1586db24bd45dfd4af3a4542e7.woff") format("woff"), /* chrome、firefox */
  url("../resources/5c773d1586db24bd45dfd4af3a4542e7.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../resources/5c773d1586db24bd45dfd4af3a4542e7.svg#Shentox W04 Regular") format("svg"); /* iOS 4.1- */
}

* {
  box-sizing: border-box;
  font-family: "ARS Maquette", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.mainlogo {
  background: linear-gradient(to bottom right,#c09,#f42 85%);
  display: none;
  padding: 0 20px;
 
}

.f-shentox {
  font-family: "Shentox", sans-serif;
}

.flex-container {
  display: flex;
}

.bg-black {
  background: #000;
}

.spacebetween {
  justify-content: space-between;
}

.pad-20p {
  padding: 20px;
}

.pad-10p {
  padding: 10px;
}

.pad-5p {
  padding: 5px;
}

.pad-30p {
  padding: 30px;
}

.pad-lr-30p {
  padding: 0 30px;
}

.pad-lr-20p {
  padding: 0 20px;
}

.pad-lr-10p {
  padding: 0 10px;
}

@media (max-width: 760px){
  .first-nav {
    display: none;
  }

  .second-nav ul {
    display: none;
  }

  .second-nav {
    justify-content: flex-end;
  }

  .menu-icon {
    color: orangered;
    padding-left: 10px;
  }

  .mainlogo {
    display: inline-block;
    padding: 6px 10px;
    float: left;
  }

}

 @media (min-width: 760px){
  .second-nav {
    justify-content: space-between;
  }

  .menu-icon {
    display: none;
  }  
} 

@media (max-width: 1024px) and (min-width: 760px){
  .mainlogo {
    display: inline-block;
    float: left;
    padding: 30px 20px;
  }

}

ul {
  /* list-style-type: none; */
  overflow: hidden;
}


.second-nav ul li a:hover {
  color: black;
}

.second-nav ul li a {
  display: inline-block;
  padding: 15px 5px;
  font-weight: 600;
}

.first-nav ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 0.68rem;
}

.first-nav ul li { 
  padding-left: 9px;
}

.second-nav ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 0.8rem;
}


.second-nav {
  align-items: center;
  box-shadow: 0px 0px 10px #ddd;
  color: gray;
  /* justify-content: space-between; */
  padding: 3px 20px;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {

  display: none;
  background: #333;
  position: absolute;
  z-index: 1;
  font-size: 0.9rem;
}

.dropdown-content a {
  color: black;
  display: block;
  padding: 5px 30px 5px 5px;
  border-bottom: 1px solid #444;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.frontpage {
  grid-template-columns: 66% 34%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "fp1 fp2"
                      "fp1 fp3";
  height: 400px;
  width: calc(100% - 10px);
  grid-gap: 10px 10px ;
}

.displaygrid {
  display: grid;
}

.fp1 {
 grid-area: fp1;
 position: relative;
}

.fp1i {
  background-image: url("../resources/ethereum-blockchain-airline-796x417.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100%;
  padding: 10px;
}

.fp1c {
  background: transparent url("../resources/cover-gradient.png") no-repeat;
  background-position: 0 0;
  background-size: cover;
  bottom: 0;
  left: 0;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}

.fp2 {
  grid-area: fp2;
  position: relative;

}

.fp2i {
  background-image: url("../resources/paymytab-database-hed-796x448.png");
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100%;
  padding: 10px;
}

.fp3 {
  grid-area:  2 / 2 / span 1 / span 1;
  position: relative;
  
}

.fp3i {
  background-image: url("../resources/tiger-796x417.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100%;
  padding: 10px;
}

.thegap {
  grid-gap: 90px 10px;
}

.nodeco {
  text-decoration: none;
}

.latestnews {
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
}

.bg-one {
  background-image: url(../resources/moonday-morning-478x270.png);
  height: 200px;
  background-repeat: no-repeat;
}

.bg-two {
  background-image: url(../resources/bitcoin_today-header_bitcoin_today-512x270.jpg);
  height: 200px;
}


.bg-three {
  background-image: url(../resources/Bluecar.png);
  height: 200px;
}


.bg-four {
  background-image: url(../resources/robot.png);
  height: 200px;
}


.bg-five {
  background-image: url(../resources/whale.jpg);
  height: 200px;
}

.bg-six {
  background-image: url(../resources/Black-Friday-TNW-Door-Buster-540x270.jpg);
  height: 200px;
}

.bg-seven {
  background-image: url(../resources/sale_24282_primary_image_wide-540x270.jpg);
  height: 200px;
}

.bg-eight {
  background-image: url(../resources/cheap-paperwhite-header-image-kindle-516x270.png);
  height: 200px;
}

.span1 {
  position: relative;
  top: 200px;
  font-weight: 600;
}

.margindown {
  margin-bottom: 150px;
}

.littlespan1 {
  color: gray;
  display: block;
  font-size: 12px;
  position: relative;
  top: 210px;
}

.cover-date {
  color: white;
  padding: 10px 20px 0;
  float: right;
  display: inline-block;
}

.cover-logo {
  background: transparent url("../resources/tnw.svg") no-repeat;
  width: 50%;
  height: 100px;
  display: inline-block;
  margin: 10px 0 0 10px;
}

.more-bg-1 {
  background: url("../resources/android-phone-hed-368x276.jpg");
  height: 276px;
  width: 368px;
  background-repeat: no-repeat;
}

.bullets {
  list-style: disc inside;
}

.nobullets {
  list-style: none;
}

.crazyarts {
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.bullets li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.borderdown {
  border-bottom: 1px solid lightgray;
}

.bg-mistyrose {
  background-color: mistyrose;
}

.floatright {
  float: right;
}

.displayflex {
  display: flex;
}

.main-article-title {
  font-size: 3rem;
  /* position: absolute; */
  /* bottom: 40px; */
}

.article-title {
  font-size: 1.6rem;
  /* position: absolute;
  bottom: 40px; */
}

.article-footer {
  font-size: .65rem;
  /* position: absolute;
  bottom: 10px; */
}

.fc-white {
  color: white;
}

.cover-trigger {
  background: rgba(0, 0, 0, .25) url("../resources/image-gradient.png") no-repeat;
  background-size: 100% 100%;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.bottom {
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.kindaorange {
  color: #f42;
}

.rightborder {
  border-right: 1px solid #f42;
  padding-right: 6px;
}

.bg-kindaorange {
  background-image: #f42;
  opacity: 0.5;
}

.funrounds {
  background: #f42;
  color: white;
  height: 39.3333px;
  width: 270px;
  text-align: center;
  font-size: 18px;
  padding: 10.6667px 16px 10.6667px 4px;
}

.funrounds2 {
  background: rgba(255, 68, 34, 0.08);
  height: 57.3333px;
  text-align: center;
  width: 270px;
}