@import url(//db.onlinewebfonts.com/c/466deba3855c345af3e1371e28d783ae?family=ARS+Maquette+Web+One);

@font-face {
  font-family: "ARS Maquette";
  src: url("//db.onlinewebfonts.com/t/466deba3855c345af3e1371e28d783ae.eot");
  src: url("//db.onlinewebfonts.com/t/466deba3855c345af3e1371e28d783ae.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/466deba3855c345af3e1371e28d783ae.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/466deba3855c345af3e1371e28d783ae.woff") format("woff"), url("//db.onlinewebfonts.com/t/466deba3855c345af3e1371e28d783ae.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/466deba3855c345af3e1371e28d783ae.svg#ARS Maquette Web One") format("svg");
}

@font-face {font-family: "Shentox";
  src: url("../resources/5c773d1586db24bd45dfd4af3a4542e7.eot"); /* IE9*/
  src: url("../resources/5c773d1586db24bd45dfd4af3a4542e7.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../resources/5c773d1586db24bd45dfd4af3a4542e7.woff2") format("woff2"), /* chrome、firefox */
  url("../resources/5c773d1586db24bd45dfd4af3a4542e7.woff") format("woff"), /* chrome、firefox */
  url("../resources/5c773d1586db24bd45dfd4af3a4542e7.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../resources/5c773d1586db24bd45dfd4af3a4542e7.svg#Shentox W04 Regular") format("svg"); /* iOS 4.1- */
}

* {
  box-sizing: border-box;
  font-family: "ARS Maquette", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.mainlogo {
  background: linear-gradient(to bottom right,#c09,#f42 85%);
  display: none;
  padding: 0 20px;
 
}

.f-shentox {
  font-family: "Shentox", sans-serif;
}

.flex-container {
  display: flex;
}

.bg-black {
  background: #000;
}

.spacebetween {
  justify-content: space-between;
}

.pad-20p {
  padding: 20px;
}

.pad-10p {
  padding: 10px;
}

.pad-5p {
  padding: 5px;
}

.pad-30p {
  padding: 30px;
}

.pad-lr-30p {
  padding: 0 30px;
}

.pad-lr-20p {
  padding: 0 20px;
}

.pad-lr-10p {
  padding: 0 10px;
}

@media (max-width: 760px){
  .first-nav {
    display: none;
  }

  .second-nav ul {
    display: none;
  }

  .second-nav {
    justify-content: flex-end;
  }

  .menu-icon {
    color: orangered;
    padding-left: 10px;
  }

  .mainlogo {
    display: inline-block;
    padding: 6px 10px;
    float: left;
  }

}

 @media (min-width: 760px){
  .second-nav {
    justify-content: space-between;
  }

  .menu-icon {
    display: none;
  }  
} 

@media (max-width: 1024px) and (min-width: 760px){
  .mainlogo {
    display: inline-block;
    float: left;
    padding: 30px 20px;
  }

}

ul {
  list-style-type: none;
  overflow: hidden;
}


.second-nav ul li a:hover {
  color: black;
}

.second-nav ul li a {
  display: inline-block;
  padding: 15px 5px;
  font-weight: 600;
}

.first-nav ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 0.68rem;
}

.first-nav ul li { 
  padding-left: 9px;
}

.second-nav ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 0.8rem;
}


.second-nav {
  align-items: center;
  box-shadow: 0px 0px 10px #ddd;
  color: gray;
  /* justify-content: space-between; */
  padding: 3px 20px;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {

  display: none;
  background: #333;
  position: absolute;
  z-index: 1;
  font-size: 0.9rem;
}

.dropdown-content a {
  color: black;
  display: block;
  padding: 5px 30px 5px 5px;
  border-bottom: 1px solid #444;
}

.dropdown:hover .dropdown-content {
  display: block;
}


